<!DOCTYPE html>
<html>
  <head>
    <title>Split Billy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Split Billy</h1>
    <p>Ready for simplifying your exprense calculations?</p>
    <form method="GET" action="/register">
      <button >Get started</button>
    </form>
    
  </body>
</html>
