<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Register</h1>
  <a href="/auth/google" >Login with Google</a>
</body>
</html>
